:root {

    /* Text colors */
    --text__primary: #000000;
    --text__secondary: #9A9A9A;
    --text__onDark: #ffffff;
    --text__accent: #FFB051;
    --text__alarm: #EF5D60;

    /* Container colors */
    --container__primary: #ffffff;
    --container__secondary: #fcfcfc;
    --container__mode--asleep: #606a92;
    --container__mode--athome: #ffc176;
    --container__mode--away: #c0c0c0;
    --container__select--selected: #fff0de;
    --container__select--notSelected: #ffffff;
    --container__button--primary: #fff0de;
    --container__button--secondary: #ffffff;
    --container__menu: #606a92;
    --container__checkbox--checked: #606a92;

    /* Border colors */
    --border__primaryContainer--selected: #d2d2d2;
    --border__secondaryContainer: #c0c0c0;
    --border__checkbox: #c0c0c0;
    --border__select--selected: #ffc176;
    --border__select--notSelected: #9A9A9A;
    --border__button--primary: #ffc176;
    --border__button--secondary: #c0c0c0;
    --border__button__wheel: #9a9a9a;
    --border__divider: #d2d2d2;
    --border__button--guide: #9A9A9A;
    
    /* spacing */
    --spacing--2:2px;
    --spacing--4:4px;
    --spacing--6:6px;
    --spacing--8:8px;
    --spacing--12:12px;
    --spacing--16:16px;
    --spacing--20:20px;
    --spacing--24:24px;
    --spacing--32:32px;
    --spacing--40:40px;
    --spacing--48:48px;
    --spacing--64:64px;
    --spacing--80:80px;
    --spacing--96:96px;
    --spacing--128:128px;
    --spacing--160:160px;
    --spacing--192:192px;
    --spacing--224:224px;

    /* border radius */
    --radius--s:4px;
    --radius--m:8px;
    --radius--l:12px;
    --radius--xl:24px;
    --radius--xxl:30px;

    /* drop shadow */
    --primary--dropshadow:0px 0px 9px 0px rgba(122, 121, 121, 0.25);
   
     /* Animation tab variable */
     --tab__active--left: 0;
     --tab__active--leftNEW: 33.33%;
 
    /* Typography */
}
body {
    font-family: "open-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
}

h2{
    font-size: 20px;
    font-weight: 700;
}

h3{
    font-size: 16px;
    margin: 0;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: var(--spacing--2);
}

h4{
    font-size: 16px;
    margin: 0;
    font-weight: 300;
}

p{
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}
.--bold{
    font-weight: 700;
}
.--medium{
    font-weight: 500;
}

/* Buttons */
.button{
    font-family: "open-sans", sans-serif;
    font-size: 16px;
    width: fit-content;
    color: var(--text__primary);
    border: solid 0.5px;
    border-radius: var(--radius--m);
    padding: var(--spacing--12) var(--spacing--24);
}
.button__primary{
    background-color: var(--container__button--primary);
    border-color:var(--border__button--primary) ;

    &:active{
        background-color: #FFDDB4;
    }
}
.button__secondary{
    background-color: var(--container__button--secondary);
    border-color: var(--border__button--secondary);

    &:active{
        background-color: #f2f2f2;
    }
}

/* Menu */
.menu{
    max-width: 206px;
    height: 100vh;
    padding: var(--spacing--8) 0 0 var(--spacing--20);
    background-color: var(--container__menu);
    position: sticky; 
    top: 0; 
    left: 0;
    z-index: 2;
    transform: translateX(-93%);  
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}
.profil {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: var(--spacing--8);
    align-items: center;
}

.profil__image {
    grid-column: 1;
    grid-row: 1;
    width: 50px;
}

.profil__text {
    grid-column: 1;
    grid-row: 2;
    color: var(--text__onDark);
}

.menu__burgerMenu {
    grid-column: 2;
    grid-row: span 2;
    justify-self: flex-end;
    height: 95px;
    width: auto;
    margin-right: -31px;
    cursor: pointer;
}

.menuItems{
    padding: 0;
    margin-top: var(--spacing--64);
    height: 100%;
}


.menuItems__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--text__onDark);
        gap: var(--spacing--4);
        padding: var(--spacing--12) 0 var(--spacing--12) var(--spacing--12);

    .menuItems__icon{
        margin-right: var(--spacing--8);
        }
    }
    .menuItemActive{
        position: relative;
        display: flex;
        align-items: center; 
        justify-content: flex-start;
       
    }
    .menuItemActive__image{
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
        right: 0;
    
        width: 101%;
    }
    .menuItems__text--active {
        color: var(--text__accent);
    }
    .menuItems__icon--active{
    stroke: var(--text__accent) ;
    }
/* dashboard */

.room{
    background-color: var(--container__select--notSelected);
    box-shadow: var(--primary--dropshadow);
    border-radius: var(--radius--m);
    display: flex;
    flex-direction: row;
}

/* calandar */
.schedule__main{
    height: 100vh;
    margin: 0;
   
}
/* aside edit */
.editSchedule{
    box-sizing: border-box;
    height: 90%;
    width: calc(100% - 12px); 
    padding: var(--spacing--20);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: var(--primary--dropshadow);
    border-radius: var(--radius--xxl) var(--radius--xxl) 0 0;
}

.editSchedule__dragDown{
    display: block; 
    width: 40px; 
    height: 2.5px; 
    background-color: var(--border__divider, #ccc);
    border-radius: 2px;}

.button__guide{
    border-radius: var(--radius--xl);
    border: solid 1px ;
    border-color: var(--border__button--guide);
    width: 27px;
    height: 27px;
    color: var(--text__secondary);
    background-color: var(--container__button--secondary);
    margin-left: auto;
    margin-bottom: var(--spacing--20);

    &:active{
        background-color: #f2f2f2;
    }
}
.sectionTitle{
    margin-right: auto;
}

.sectionTitle__recommendation {
    color: var(--text__secondary);
}

.actions__primaryChoice{
    margin: 0;
    height: 80%;
    width: auto;
    padding: var(--spacing--16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
    
.actions__backAndForth {
    display: flex;
    justify-content: space-between;
}

.button__primary--big{
        width: 100%;
        padding: var(--spacing--32) var(--spacing--8);
        margin: var(--spacing--20) 0;
        flex-grow: 1;
       
    .button__title{
        display: flex;
        justify-content: center;
        margin-bottom: var(--spacing--16);
        gap: var(--spacing--8);
    }
} 
.actions__divider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; 
    gap: var(--spacing--8);

    .divider__line{
        display: block;
        height: 1px;
        width: 100%;
        background-color: var(--border__divider, #ccc);
        margin: var(--spacing--2);
    
    .divider__text{
        margin: var(--spacing--8);
        }
    } 
}

/* EdidtMode-1 */

/* tabs */
.modesTabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: var(--spacing--8) 0;
    margin-bottom: var(--spacing--24);
    background-color: #F2F2F2;
    position: relative; 
}

.modesTabs__item {
    text-align: center;
    position: relative; 
    z-index: 1; 
    list-style: none;
}

.modesTabs__active {
    position: absolute; 
    bottom: 0; 
    left: var(--tab__active--left); 
    width: 33.33%; 
    height: 35.5px; 
    background-color: #FFDDB4; 
    border-bottom: 2px solid #FFB051;
    z-index: 0; 
    
     &.homeToSleep, &.sleepToAway{
        animation-name: oneToRight;
        /* animation-duration: 0.5s; */
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }

    &.homeToAway{
        animation-name: twoToRight;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }

    &.sleepToHome, &.awayToSleep{
        animation-name: oneToLeft;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }


    &.awayToHome{
        animation-name: twoToLeft;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }
}

@keyframes oneToRight {
    0% {
        left: var(--tab__active--left);
        width: 33.33%;
    }
    50% {
        left: var(--tab__active--left);
        width: 66.66%;
    }
    100% {
        left: var(--tab__active--leftNEW);
        width: 33.33%;
    }
}

@keyframes twoToRight {
    0% {
        left: var(--tab__active--left);
        width: 33.33%;
    }
    50% {
        left: var(--tab__active--left);
        width: 100%;
    }
    100% {
        left: var(--tab__active--leftNEW);
        width: 33.33%;
    }
}

@keyframes oneToLeft {
    0% {
        left: var(--tab__active--left);
        width: 33.33%;
    }
    50% {
        left: var(--tab__active--leftNEW);
        width: 66.66%;
    }
    100% {
        left: var(--tab__active--leftNEW);
        width: 33.33%;
    }
}
@keyframes twoToLeft {
    0% {
        left: var(--tab__active--left);
        width: 33.33%;
    }
    50% {
        left: var(--tab__active--leftNEW);
        width: 100%;
    }
    100% {
        left: var(--tab__active--leftNEW);
        width: 33.33%;
    }
}

.editMode__rooms{
    width: 100%;
}
.chooseRooms{
    padding: var(--spacing--8);
    margin: var(--spacing--24) 0;
}
.chooseRooms__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--spacing--12);

    .room--editMode{
        padding: var(--spacing--4) var(--spacing--12);
        align-items: center;
        justify-content: space-around;
        width: 100%;

    .room__title{
        width: 150px;  
        }
    }
}
.chooseRooms__checkbox{
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: var(--spacing--12);
    accent-color: #606a92 ;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
     /* Enable the checkbox to be circular */
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}
.chooseRooms__checkbox:checked{
    background-image: url(images/checkbox.svg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
}
.pageIndicator{
    display: flex; 
    justify-content: center; 
    gap: 10px;

    .pageIndicator__dot{
    width: 8px; 
    height: 8px;
    border-radius: 50%; 
    background-color:#E7E7E7;
    }
}
.pageIndicator__dot.active{
    background-color: #606A92;
        }

/* responsive large mobile */
@media screen and (min-width: 390px ) {
  
 /* Typography big screen */

    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
        line-height: 24px;
    }
    h4{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    } 
    .button{
        font-size: 20px;
        padding: var(--spacing--16) var(--spacing--32);
    }
    /* Edit */
    .editSchedule {
        max-width: 575px;
        padding: var(--spacing--24);
    }
    .actions__primaryChoice{
        max-height: 600px;
        padding: var(--spacing--24);
        height: 100%;
    }
    /* menu */
    .menu{
        padding: var(--spacing--24) 0 0 var(--spacing--24);
    }
        
    .menuItems{
        margin-top: var(--spacing--80);
    }
    .menuItems__link{
        margin-bottom: var(--spacing--32);
    }
    .menuItemActive__image{
        transform: translateX(-50%) translateY(calc(-50% - 16px));
    }
    .button__guide{
        width: 36px;
        height: 36px;
        font-size: 20px;
    }

    /* edit page 1 */
    .editMode{
        max-width: 575px;
        padding: var(--spacing--80)  var(--spacing--32)  var(--spacing--32) var(--spacing--32);
    }
    .modesTabs{
        margin-bottom: var(--spacing--40);
        max-width: 450px;
    }
    .editMode__rooms{
        margin-bottom: var(--spacing--40);
        max-width: 450px;
    }
    .sectionTitle{
        margin-bottom: var(--spacing--40);
    }
    .chooseRooms{
        padding: 0 var(--spacing--12);
        margin-bottom: var(--spacing--40);

    }
    .chooseRooms__item{
        margin-bottom: var(--spacing--20);

        .room--editMode {
            padding: var(--spacing--8) var(--spacing--20);
        }
    }
    .chooseRooms__checkbox{
        width: 30px;
        height: 30px;
        margin-right: var(--spacing--16);
    }
    .pageIndicator{
        gap: 10px;

        .pageIndicator__dot{
            width: 10px;
            height: 10px;
        }
    }
}

@media screen and (min-width:600px) {
    
    .editSchedule {
        left: 50%;
        transform: translateX(-50%);
    }
}

/* resonsive tablet */
@media screen and (min-width: 1000px ){

/* menu */
    .menu{
        max-width: 241px;
        padding: var(--spacing--32) 0 0 var(--spacing--32);
        transform: translateX(0%);  
    }
    .menu__burgerMenu{
        display: none;
    }
    .menuItems__link{
        margin-bottom: var(--spacing--40);
    }
    .menuItemActive__image{
        transform: translateX(-50%) translateY(calc(-50% - 20px));
    }
    /* edidt */
    .editSchedule {
        padding: var(--spacing--24) var(--spacing--64);
        max-width: 600px; 
        left: 300px; 
        transform: none; 
    }
    .editMode{
        padding: var(--spacing--80)  var(--spacing--64)  var(--spacing--32) var(--spacing--64);
        max-width: 600px; 
        left: 300px; 
        transform: none; 
    }
    .modesTabs{
        margin-bottom: var(--spacing--48);
        
    }
    .editMode__rooms{
        margin-bottom: var(--spacing--48);
        
    }
    .sectionTitle{
        margin-bottom: var(--spacing--48);
    }
    .chooseRooms{
        margin-bottom: var(--spacing--48);

    }
}